<form  method="post">
    {# Чекбокс #}
    <div>
        <label for="publish">Активная Статья:</label>
        <input type="checkbox" id="publish" name="publish" value="true">
    </div>
    {# Кнопка опубликовать #}
    <div>
        <button type="submit">Опубликовать</button>
    </div>
</form>

